body{
    background-color: #FFFDF3;
    font-family: 'Open Sans', sans-serif;
}

.indice{
    list-style-type: none;
}

/* .indice > li {
    margin-right: 20px;
} */

.subtitle{
    font-size: 0.5em;
    font-weight:900;
}

#title > small { 
    line-height: 1.5; 
    display: block;
}

#containment-wrapper{
    /* height: 100vh; */
    height: 1500px;
    width: 95%;
    /* position: relative */

    position:absolute;
    
}


.draggable {
    
    -ms-touch-action: none;

    touch-action: none;
    user-select: none;
  }